@charset "UTF-8";
body {
  font-family: "Georgia";
  color: #555;
  background-color: white;
  margin: 0;
  position: relative;
}

body:after, body:before {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  height: 400px;
}

body:before {
  content: "";
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

body:after {
  content: "";
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

ul,
ol {
  font-size: 19px;
  line-height: 36px;
  -webkit-padding-start: 21px;
          padding-inline-start: 21px;
}

.top_menu {
  width: 960px;
  margin: 0 auto;
}

.top_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top_menu ul li {
  float: left;
  margin-right: 1px;
}

.top_menu ul:after {
  content: "";
  display: block;
  clear: both;
}

.menu_item {
  font-size: 19px;
  line-height: 49px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #333;
  padding: 1px 21px 0 20px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 9px 0 0;
  position: relative;
  top: 1px;
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.menu_item:hover,
.menu_item.active {
  color: #f5f5f5;
  background-color: #15a98c;
}

.menu_item:hover .icon,
.menu_item.active .icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.icon_me {
  content: url("../images/about_me_icon.png");
}

.icon_hobby {
  content: url("../images/hobby_icon.png");
}

.icon_films {
  content: url("../images/video_icon.png");
}

.about_me {
  margin: 210px auto 0 auto;
  width: 960px;
}

.about_me:after {
  content: "";
  display: block;
  clear: both;
}

.text {
  margin-left: 60px;
  width: 570px;
  min-height: 900px;
  float: left;
}

.photo {
  display: block;
  width: 330px;
  height: 350px;
  border-radius: 5px;
  background-color: #132d36;
}

.sidebar {
  width: 330px;
  float: left;
}

.sidebar_authors {
  margin-top: 45px;
}

.sidebar_authors ul {
  margin-top: 13px;
}

.sidebar_films {
  margin-top: 41px;
}

.sidebar_films ol {
  margin-top: 12px;
  margin-left: -1px;
}

.sidebar_films ol li:first-child {
  margin-left: -2px;
}

.sidebar_header {
  font-size: 24px;
  line-height: 32px;
  color: #15a98c;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0px;
}

h1 {
  font-size: 48px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 80px 0 0 4px;
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 85px;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3aa;
}

.quote {
  width: 570px;
}

blockquote {
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  font-style: italic;
  margin: 25px 0 0 3px;
}

.quote_author {
  font-size: 16px;
  color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 12px 0 0 6px;
}

.about_me_text,
.my_hobby_text,
.write_me {
  font-size: 19px;
  line-height: 32px;
}

.about_me_text {
  margin: 70px 60px 0 0;
}

.my_hobby_text {
  margin: 12px 0 0 0;
}

.write_me {
  display: inline-block;
  color: #15a98b;
  margin: 41px 0 0 0;
  text-decoration: none;
}

.write_me span {
  border-bottom: 1px solid #15a98b;
}

.write_me:after {
  content: " →";
  position: relative;
  top: 1px;
  left: 1px;
}

h2 {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
}

.my_hobby_header {
  margin: 38px 0 0 -2px;
}

.favorite_films {
  width: 1200px;
  margin: 71px auto 0 auto;
}

.movies {
  margin-top: 30px;
}

.movies:after {
  content: "";
  display: block;
  clear: both;
}

.movie {
  width: 285px;
  margin: 0 0 0 20px;
  float: left;
}

.movie:first-child {
  margin-left: 0;
}

.movie_poster {
  height: 190px;
  border-radius: 5px;
  display: block;
}

h3 {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333;
  margin: 24px 0 0 -2px;
}

.movie_description {
  font-size: 16px;
  line-height: 28px;
  margin: 18px 0 0 0;
}

.margin_left_0 {
  margin-left: 0px;
}

.button {
  font-size: 19px;
  line-height: 50px;
  color: #f5f5f5;
  background-color: #15a98c;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  display: block;
  margin: 54px auto 0 auto;
  position: relative;
  left: -10px;
  text-decoration: none;
  text-align: center;
}

footer {
  height: 70px;
  font-size: 16px;
  line-height: 69px;
  background-color: #f5f5f5;
  text-align: center;
  text-indent: -20px;
  margin: 70px 0 0 0;
  padding-top: 1px;
}
/*# sourceMappingURL=style.css.map */