body {
    margin: 0;
    position: relative;
}

body:after, body:before {
    position: absolute;
    left: 0;
    top: 50px;
    width: 1920px;
    height: 400px;
}

body:after {
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

body:before {
    content: url("../images/background.jpg");
    z-index: -2;
}

.top_menu {
    margin: 0;
}

.top_menu ul {
    margin: 0 0 0 480px;
    list-style-type: none;
    padding: 0;
}

.top_menu ul li {
    height: 50px;
    float: left;
}

.top_menu ul:after {
    content: "";
    display: block;
    clear: both;
}

.menu_item_about_me, .menu_item_my_hobby, .menu_item_favorite_films {
    height: 100%;
    line-height: 49px;
    font-size: 19px;
    font-family: "Georgia";
    text-decoration: none;
    display: block;
    padding-top: 1px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(51, 51, 51);
}

.menu_item_about_me {
    width: 140px;
    text-indent: 9px;
}

.menu_item_about_me:before {
    content: url("../images/about_me_icon.png");
    position: relative;
    left: -10px;
    top: 1px;
}

.menu_item_my_hobby {
    width: 164px;
    text-indent: 6px;
}

.menu_item_my_hobby:before {
    content: url("../images/hobby_icon.png");
    position: relative;
    left: -10px;
    top: 2px;
}

.menu_item_favorite_films {
    width: 230px;
    text-indent: 6px;
}

.menu_item_favorite_films:before {
    content: url("../images/video_icon.png");
    position: relative;
    left: -10px;
    top: 1px;
}

.menu_item_about_me:hover, .menu_item_my_hobby:hover, .menu_item_favorite_films:hover, .active {
    color: rgb(245, 245, 245);
    background-color: #15a98c;
}

.button_background {
    background-image: url("button_background.png");
    position: absolute;
    left: 480px;
    top: 0px;
    width: 140px;
    height: 50px;
    z-index: 73;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.about_me {
    margin-top: 210px;
}

.about_me:after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
    margin-left: 120px;
    width: 330px;
    float: left;
}

.text {
    margin-left: 60px;
    width: 570px;
    min-height: 900px;
    float: left;
}

.photo {
    display: block;
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
}

.sidebar {
    margin-top: 44px;
}

.my_header {
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0px;
}

h1 {
    font-size: 48px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 700;
    margin: 82px 0 0 4px;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    left: -4px;
    top: 73px;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

ul, ol {
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
    padding-inline-start: 21px;
}

ul {
    margin-top: 14px;
}

ol {
    margin-top: 13px;
}

.item1 {
    margin-left: -3px;
}

.favorite_films {
    margin-top: 40px;
}

.quote {
    width: 570px;
}

.quote_text {
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Georgia";
    font-style: italic;
    margin: 25px 0 0 3px;
}

.quote_author {
    font-size: 16px;
    line-height: 42px;
    color: #f5f5f5;
    font-family: "Open Sans";
    font-weight: 600;
    margin: 2px 0 0 6px;
}

.about_me_text, .my_hobby_text, .write_me {
    font-size: 19px;
    font-family: "Georgia";
    line-height: 32px;
}

.about_me_text, .my_hobby_text {
    color: #555555;
}

.about_me_text {
    margin: 81px 60px 0 0;
}

.my_hobby_text {
    margin: 12px 0 0 0;
}

.write_me {
    display: inline-block;
    color: #15a98b;
    margin: 41px 0 0 0;
    text-decoration: none;
}

.write_me span {
    border-bottom: 1px solid #15a98b;
}

.write_me:after {
    content: " →";
    position: relative;
    top: 1px;
    left: 1px;
}

.my_hobby_header, .favorite_films_header {
    font-size: 36px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #333333;
}

.my_hobby_header {
    margin: 38px 0 0 -2px;
}

.favorite_films_header {
    margin: 71px 0 0 0;
}

.movies {
    margin-top: 30px;
}

.movies:after {
    clear: both;
    content: "";
    display: block;
}

.movie {
    width: 285px;
    margin: 0 0 0 20px;
    content: "1";
    float: left;
}

.movie_poster {
    height: 190px;
    border-radius: 5px;
    display: block;
}

h4 {
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #333;
    margin: 24px 0 0 -2px;
}

.movie:first-child {
    margin-left: 0;
}

.movie_description {
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
    margin: 18px 0 0 0;
}

.shifted {
    margin-left: 0px;
}

.button {
    font-size: 19px;
    font-family: "Georgia";
    line-height: 50px;
    color: #f5f5f5;
    background-color: #15a98c;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin: 54px auto 0 auto;
    position: relative;
    left: -10px;
    text-decoration: none;
    text-align: center;
}

footer {
    height: 70px;
    font-family: "Georgia";
    font-size: 16px;
    line-height: 69px;
    color: #555555;
    background-color: #f5f5f5;
    text-align: center;
    text-indent: -19px;
    margin: 70px 0 0 0;
    padding-top: 1px;
}